html, body {
    margin: 0;
    padding: 0;
    
}

header{
    background-color: rgb(242, 96, 11);
    color: whitesmoke;
    height:70px;
    margin: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 5px 20px -5px rgba(21,6,5,1);
    box-shadow: 0px 5px 20px -5px rgba(21,6,5,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header > div{
    display: flex;
    align-items: center;
}
.button {
    border: none;
    color: white;
    background-color: #343a40;
    height:40px;
    border-radius: 5px;
    margin:2px;
    border-color: black;

}

.button:hover {
    cursor:pointer;
    background-color: black;
}
header > h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration-color: black;
    
}

@media (min-width:768px) {
    .photos--divs{
        margin: 10px;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    
    }
}

@media (max-width:768px) {
    .photos--divs{
        margin: 10px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    
    }
}


.photos--card{
    text-align: center;
    margin-bottom: 15px;
}

.photos--title{
    color: black;
}

.photos--images{
    width: 250px;
    height: 200px;
    margin:10px;
}
.photos--images:hover{
    box-shadow: 0px 2px 15px -5px rgba(21,6,5,1);
    -webkit-box-shadow: 0px 2px 15px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 15px -5px rgba(21,6,5,1);
}
.post--back{
    color:black;
    font-size: 20px;
}

.post--back:hover{
    cursor:pointer;
}

.post--heading{
    text-align: center;
    
}
.post--author{
    text-align: center;
}

@media (min-width:768px){
    .post--card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
    }
}

@media (max-width:768px){
    .post--card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
}


.post--cardText{
    width: 60%;
}


.post--metrics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight:bold;
}

.post--award{
    color: gold;
}

.post--likes{
    color:lightskyblue;
}
.post--images{
    width: 200px;
    height: 200px;
    margin:10px;
}


  
