html, body {
    margin: 0;
    padding: 0;
    
}


header{
    background-color: rgb(242, 96, 11);
    color: whitesmoke;
    height:70px;
    margin: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    box-shadow: 0px 5px 20px -5px rgba(21,6,5,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header >div > button {
    border: none;
    color: white;
    background-color: green;
    height:50px;
    border-radius: 5px;
    margin:2px;

}

header > div > button:hover {
    cursor:pointer;
    background-color: rgb(66, 146, 66);
}
header > h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color:white;
}

.photos--divs{
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}

.photos--card{
    text-align: center;
    margin-bottom: 15px;
}

.photos--title{
    color: black;
}

.post--back{
    color:black;
    font-size: 20px;
}

.post--heading{
    text-align: center;
    
}
.post--author{
    text-align: center;
}
.post--card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post--cardText{
    width: 60%;
}

.images{
    width: 200px;
    height: 200px;
    margin:10px;
}


  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }